{% extends "layout.html" %}
{% block title %}Disclaimer{% endblock %}
{% block content %}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <h2 class="post-title">
                        Disclaimer
                    </h2>
                    <p class="post-meta">
                        link-4share.com is a search engine, but we respect an Copyright Laws. So if You have found a link to an illegal file please contact us. <br/> 
                        All the rights on the file are the property of their respective owners.<br/> 
                        If You won't delete files from the computer, You'll break the copyrights protection laws.<br/> 
                        link-4share.com does not host any of the music files displayed on this site.<br/> 
                        link-4share.com indexes these files which are located on remote servers which <br/> neither link-4share.com nor it's affiliates have any connection with / control of / association with.<br/> 
                        You download files from another host service, not from link-4share.com<br/> 
                        Email :<br/> 
                        autodownload48 [at] gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}