{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<style type="text/css">
 
#share-buttons img {
width: 50px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
cursor: pointer;
}
 
</style>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post.html">
                        <h1 class="post-title">
                            404 File Not Found
                        </h1>
                    </a>
                </div>
                <hr>
            </div>
        </div>
    </div>

{% endblock %}